[Unit]
Description=A Spring Boot application
After=syslog.target

[Service]
User=Dell
ExecStart=java -jar "/home/Dell/spring-petclinic-3.1.0-SNAPSHOT.jar" SuccessExitStatus=143 

[Install] 
WantedBy=multi-user.target